.top div:nth-child(2){
	height:  0.6rem;
	width: 7.8rem;
	background: #fff;
	box-shadow: 0.01rem 0.01rem 0.1rem #000000;
	font-size: 0.45rem;
	padding: 0 0.3rem;
	box-sizing: border-box;
}
.remen{
	width: 100%;
	height: 1.25rem;
	margin-top: 1.5rem;
	line-height: 1.25rem;
	font-size: 0.35rem;
	padding-left: 0.5rem;
	box-sizing: border-box;
}
.pic{
	width: 100%;
	height: 4.5rem;
}
.pic>img{
	width: 100%;
	height: 100%;
}
.kuai{
	width: 100%;
	height: 3.77rem;
	padding: 0 0.45rem;
	box-sizing: border-box;
	font-size: 0.33rem;
	color: #53554a;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.kuai>div{
	float: left;
	padding: 0.25rem 0.33rem;
	box-sizing: border-box;
	margin-left: 0.3rem;
	margin-top: 0.3rem;
}
.kuai>div:nth-child(1){
	margin-left: 0;
	background: #f9ebea;
	border: 0.03rem solid #eda1ab;
}
.kuai>div:nth-child(2){
	background: #e5f6e3;
	border: 0.03rem solid #9bc095;

}
.kuai>div:nth-child(3){
	background: #f9ebea;
	border: 0.03rem solid #eda1ab;
}
.kuai>div:nth-child(4){
	margin-left: 0;
	background: #f9f1ee;
	border: 0.03rem solid #f0c291;

}
.kuai>div:nth-child(5){
	background: #f9ebea;
	border: 0.03rem solid #eda1ab;


}
.kuai>div:nth-child(6){
	background: #e5f6e3;
	border: 0.03rem solid #9bc095;

}
.kuai>div:nth-child(7){
	background: #f9f1ee;
	border: 0.03rem solid #f0c291;
}
.kuai>div:nth-child(8){
	margin-left: 0;
	background: #f9ebea;
	border: 0.03rem solid #eda1ab;
}
.category{
	width: 100%;
	height: 3.05rem;
	margin-top: 0.3rem;
}
.category1{
	width: 100%;
	height: 1.25rem;
	font-size: 0.35rem;
	color: #3c3c3c;
	padding-left: 0.45rem;
	box-sizing: border-box;
	line-height: 1.25rem;
}
.category2{
	width: 100%;
	height: 1.8rem;
	font-size: 0.3rem;
	color: #6a6a6a;
	margin-left: 0.22rem;
}
.category2>div{
	background: #f5f5f5;
	float: left;
	padding: 0.23rem 0.23rem;
	box-sizing: border-box;
	margin-top: 0.17rem;
	margin-left: 0.23rem;
}