.top{
	width: 100%;
	height: 1.5rem;
	background: #f2f2f2;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.55rem;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	z-index: 999;
}
.top div:nth-child(1){
	font-size: 0.56rem;
	color: #a2a2a2;
}
.top div:nth-child(3){
	font-size: 0.56rem;
	color: #a2a2a2;
}
.top div:nth-child(2){
	font-size: 0.5rem;
	color: #a2a2a2;
}